build_desktop_debug
build_desktop_release
build_desktop_debug1
build_desktop_release1
build_desktop_debug2
build_desktop_release2
build_desktop_debug3
build_desktop_release3
build_desktop_debug4
build_desktop_release4
build_desktop_debug5
build_desktop_release5
build_android_debug
build_android_release
TRIZCartoon/TRIZCartoon.pro.user
desk-debug
mb-debug